h4{
  text-align: center ;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: rgb(15, 6, 41);
  color: white;
}
.btn{
border-radius: 10px;
}
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}