.root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;}
#sombre{
margin-left: 30px;

}
.container{
    margin-top: 140px;
}
.submit{
    background-color: #17a2b8;
    color: white;
    border-color: #17a2b8;
}
.reset{
    background-color: #ff0000;
    color: white;
    border-color: #ff0000;
}
.submit:hover{
    background-color: white;
    color: #17a2b8;
}
.reset:hover{
    background-color: white;
    color: #dc3545;
}
.container{
 display: flexbox;
 justify-content: center;
}
a{
 text-decoration: none;
 color: black;
}
a:hover{
 color: black;
}
.checkbox{
 margin-left: 140px;
}
h3{
text-transform: uppercase;
font-family: 'Times New Roman', Times, serif;
}
span{
color: black;
text-transform: uppercase;
font-size: 24px;
font-family: 'Times New Roman', Times, serif;
}
footer{
    padding-top: 70px;
   
}
